# Dependencies
node_modules/

# IDE
.idea/

# Build output
dist/

# Android build artifacts
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/app/src/main/assets/public
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/capacitor-cordova-android-plugins/

# Android IDE
android/.idea/workspace.xml
android/.idea/tasks.xml
android/.idea/caches
android/.idea/modules.xml
android/.idea/navEditor.xml
android/.idea/assetWizardSettings.xml
android/.idea/gradle.xml
android/.idea/dictionaries
android/.idea/libraries
*.iml

# APKs and other binaries
*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
*.hprof

# Logs
*.log

# Misc
.DS_Store
